button{
    color: greenyellow;
    background-color: purple;
    border-radius: 50vh;
    width: 40vh;
    height: 12vh;
    cursor: pointer;
    font-size: 3vh;
    transition: all 0.3s ease;
}

button:hover {
    background-color: greenyellow;
    color: purple;
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}